In [8]:
x = 2
y = 3
d = x/y

In [16]:
print('Resultado é: '+ str(d)+'%')
print('Resultado é:',d)

Resultado é: 0.6666666666666666%
Resultado é: 0.6666666666666666

In [26]:
n = input('Nome = ' )
s = input('Salário = R$')
i = 0.10
s = float(s)
l = abs((s*i)-s)
print('{}, seu salário líquido será: R$ {}'.format(n, l))

Nome = Ana
Salário = R$1200
Ana, seu salário líquido será: R$ 1080.0

In [27]:
l = [ 1, 2, 3, 4]

In [34]:
s = ['joao', 4, 5, 'Marcia']

In [44]:
ls = [l,s]

In [45]:
ls

[[1, 2, 8, 4], ['joao', 4, 5, 'Marcia']]

In [48]:
print(ls[0][1])

2

In [54]:
print(ls[1][1])

4

In [2]:
lista = list(range(1,11,1))
print('------------')
print('soma = '+str(sum(lista))+'\nMAX = ' + str(max(lista)) + '\nMIN = ' +str(min(lista)) + '\nCount = ' + str(lista.count(2)))
print('------------')

------------
soma = 55
MAX = 10
MIN = 1
Count = 1
------------

In [83]:
lista[9] = 2
print('------------')
print('soma = '+str(sum(lista))+'\nMAX = ' + str(max(lista)) + '\nMIN = ' +str(min(lista)) + '\nCount = ' + str(lista.count(2)))
print('------------')

------------
soma = 47
MAX = 9
MIN = 1
Count = 2
------------

# Listas, Set, Tuplas and Dicionaries
---

In [3]:
lista.sort(reverse=False)
lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
lista.sort(reverse=True)
lista

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [5]:
cars = [{'car': 'VW', 'year': 2011},
 {'car': 'Mitsubishi', 'year': 2008},
 {'car': 'Ford', 'year': 2025},
 {'car': 'BMW', 'year': 2001}]

def myYear(e):
    return e['year']

In [121]:
cars.sort(reverse=True, key=myYear)
cars

[{'car': 'Ford', 'year': 2025},
 {'car': 'VW', 'year': 2011},
 {'car': 'Mitsubishi', 'year': 2008},
 {'car': 'BMW', 'year': 2001}]

In [122]:
cars[0]['year']

2025

In [123]:
# Apend()
cars.append({'car': 'Ferrari', 'year': 2020})

In [124]:
cars

[{'car': 'Ford', 'year': 2025},
 {'car': 'VW', 'year': 2011},
 {'car': 'Mitsubishi', 'year': 2008},
 {'car': 'BMW', 'year': 2001},
 {'car': 'Ferrari', 'year': 2020}]

In [126]:
cars.sort(key=myYear)
cars

[{'car': 'BMW', 'year': 2001},
 {'car': 'Mitsubishi', 'year': 2008},
 {'car': 'VW', 'year': 2011},
 {'car': 'Ferrari', 'year': 2020},
 {'car': 'Ford', 'year': 2025}]

## Métodos del, remove e pop

In [138]:
list = [1, 2, 3, 4]

In [131]:
list.remove(2)

In [132]:
list

[1, 3, 4]

In [133]:
list.pop(0) #Remove e retorna o valor removido

1

In [134]:
list

[3, 4]

In [140]:
del list[:1] #remove um conjunto de dados

In [141]:
list

[2, 3, 4]

In [144]:
## Método Copy
z = list.copy()
print(list, z)

[2, 3, 4] [2, 3, 4]

In [145]:
#Tuplas 
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

In [146]:
# Grupos set()
set1 = {'Banana', 'Maça', 'Uva'}
set2 = {'amarelo', 'vermelho', 'roxo'}
print('Banana' in set1)

True

In [151]:
set1.add('Jaca' and 'mamão')
set1

{'Banana', 'Jaca', 'Maça', 'Uva', 'mamão'}

In [152]:
set2.update(['pink', 'magenta'])
set2

{'amarelo', 'magenta', 'pink', 'roxo', 'vermelho'}

In [155]:
grupo = set(('maça', 'banana', 'sorvete'))
grupo

{'banana', 'maça', 'sorvete'}

In [157]:
# União dos conjuntos
conj = set1.union(set2)
conj

{'Banana',
 'Jaca',
 'Maça',
 'Uva',
 'amarelo',
 'magenta',
 'mamão',
 'pink',
 'roxo',
 'vermelho'}

In [159]:
res = set1.issubset(conj)
res

True

In [163]:
#Intersecção
inter = set1.intersection(conj)
print(conj)
print(inter)

{'mamão', 'Maça', 'Jaca', 'roxo', 'vermelho', 'magenta', 'Uva', 'Banana', 'pink', 'amarelo'}
{'mamão', 'Maça', 'Jaca', 'Uva', 'Banana'}

In [167]:
# Dicionários
cores = {1:'blue', 2:'red'}
dados = {'x': [1,2,3,4], 'y':[4,5,3,2]}        
dados['x']

[1, 2, 3, 4]

In [173]:
print(cores.keys())
print(dados.keys())
print(cores.values())
print(dados.values())
print(cores.items())
print(dados.items())

dict_keys([1, 2])
dict_keys(['x', 'y'])
dict_values(['blue', 'red'])
dict_values([[1, 2, 3, 4], [4, 5, 3, 2]])
dict_items([(1, 'blue'), (2, 'red')])
dict_items([('x', [1, 2, 3, 4]), ('y', [4, 5, 3, 2])])

In [175]:
cores[3] = 'black'
cores

{1: 'blue', 2: 'red', 3: 'black'}

In [183]:
dados['y'][0] = 0

In [178]:
dados

{'x': [1, 2, 3, 4], 'y': [0, 5, 3, 2]}